/* MARK: HEADER 
*/

.header {
    display: flex;

    width: 100vw;
    height: 15vh;

    /* border: .2vw solid black; */
    background-color: rgb(24, 18, 63);
    color: white;

    gap: 1vw;

    padding: .5vw;
}

.e {
    display: flex;
    width: 25vw;
}

.f {
    display: flex;
    justify-content: space-around;

    padding-top: 1.5vh;
    padding-bottom: 1.5vh;

    width: 30vw;
}

.g {
    display: flex;
    justify-content: start;
    gap: 1vw;
    width: 55vw;

    padding-left: 2vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

/* MARK: Contact pagina 
*/

.a {
    display: flex;
    width: 100vw;
    height: fit-content;
    flex-wrap: wrap;
}

.text-contact {
    width: 100vw;
    height: fit-content;
}

.b {
    width: 50vw;
}

.c {
    width: 50vw;
}

.logo-sm {
    display: flex;
    width: fit-content;
    height: fit-content;

    align-items: center;
    justify-content: center;
}

.tuin-category {
    width: 100vw;
    height: fit-content;
    display: flex;

    flex-wrap: wrap;
    /* justify-content: center; */
}

.icon {
    width: 15vw;
    height: 15vw;

    margin-inline: 40vw;
}

/* MARK: Design pagina 
*/

.tuin-category-text {
    font-size: x-large;
    font-weight: bold;

    margin-left: 10vw;
    width: 100vw;
}

.tuin-text {
    width: 100vw;

    margin-left: 10vw;
    margin-bottom: 10vh;
}

/* MARK: FOOTER 
*/

.footer {
    background-color: rgb(24, 18, 63);
    width: 100vw;
    height: 35vh;

    display: flex;
    gap: 2vw;
}

.footer-contact {
    width: 32vw;

    padding-top: 5vh;
    padding-left: 2vw;

    color: white;
}

.footer-dagen {
    width: 32vw;

    padding-top: 5vh;

    color: white;
}

.d {
    width: 32vw;
}

/* MARK: Algemeen
*/

.button-deco {
    color: white;
    text-decoration: none;
}

.button-deco:hover {
    color: white;
    text-decoration: none;
}